{% extends 'main/home.html.twig' %}

{% block body %}
    <div class="main-container">
        <div class="filtre">
            {{ form_start(filtreForm, ) }}
            {{ form_row(filtreForm.min) }}
            {{ form_row(filtreForm.max) }}
            <div class="filtre-categorie">
                {{ form_row(filtreForm.categories) }}
            </div>
            <div class="filtre-livraison">
                {{ form_row(filtreForm.livraison) }}
            </div>
            {{ form_row(filtreForm.nature) }}
            {{ form_row(filtreForm.etat) }}
            <button>filtrer</button>
            {{ form_end(filtreForm) }}
        </div>
<section class="produit-list">
    {% for produit in produits %}
        {% if produit.statut != "en attente de validation" %}
        <article class="articl-produit">
            <a href="{{ path('produits_detail', {'id': produit.id}) }}" title="Voir les détails | quantité disponible {{ produit.quantite }}">
                {% if produit.image != "" %}
                    <img src="{{ asset('imageProduit/' ~ produit.image) }}" alt="{{ produit.nom }}">
                {% else %}
                    <img src="{{ asset('image-sell-me/image-par-default.jpg') }}" alt="{{ produit.nom }}">
                {% endif %}
            </a>
            <h1 id="produit-nom">{{ produit.nom }} </h1>
            <p id="produit-categorie">categorie : {{ produit.categorie.nom }}</p>
           <div class="articl-produit-detail">
            <p id="produit-prix">{{ produit.prix|number_format(0, ',',' ') }} €</p>
            <p id="produit-etat">{{ produit.etat }}</p>
           </div>
        </article>
        {% endif %}
    {% endfor %}
</section>

    </div>
    <div class="pages">
    {{ knp_pagination_render(produits) }}
    </div>
{% endblock %}

{% block nav1 %}
    {{ parent() }}
{% endblock %}

{% block title %}
{{ parent() }}| tous les produits
{% endblock %}

{% block header %}{% endblock %}
