{% extends 'main/home.html.twig' %}

{% block title %}
    Mes annonces {{ parent() }}
{% endblock %}
{% block header %}
    <h1>
        Liste des annonces
    </h1>
{% endblock %}
{% block body %}
    <div class="cart-container">
        <div class="cart">
            {% for element in produits %}
                <div class="cart-produit">
                    <a href="{{ path('produits_detail', {'id': element.id}) }}"
                       title="Voir les détails | quantité disponible {{ element.quantite }}">
                        <img src="{{ asset('imageProduit/' ~ element.image) }}" alt="{{ element.nom }}">
                        <div class="cart-details">
                            <div class="cart-produit-content">
                                <div>
                                    <h2>{{ element.nom }}</h2>
                                </div>
                                <div>
                                    <h3>{{ element.prix }} €</h3>
                                </div>
                                <div>{{ element.categorie }}</div>
                                <div class="cart-produit-content-etat">{{ element.etat }}</div>
                            </div>
                            <div class="cart-produit-action">
                                <div><a href="{{ path('produits_detail', {'id': element.id}) }}">Voir annonce</a></div>

                            </div>
                        </div>
                    </a>
                </div>



            {% else %}

                <h2>Vous n'avez pas encore publier d'annonce</h2>

            {% endfor %}
        </div>

    </div>
{% endblock %}

