{% extends 'main/home.html.twig' %}

{% block title %}
    Panier | {{ parent() }}
{% endblock %}

{% block header %}{% endblock %}
{% block nav1 %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Confirmation de commande</h1>
    <p>Numéro de référence : {{ commande.reference }}</p>
    <h2>Détails de la commande :</h2>
    <ul>
        {% for detail in commande.commandeDetails %}
            <li>{{ detail.produitId.nom }} - Quantité : {{ detail.quantite }} - Prix de la commande : {{ detail.prix }}</li>
        {% endfor %}
    </ul>
    <h3> Adress de livraison connu :  {{ commande.userId.adress }} {{ commande.userId.codePostal }}
        {{ commande.userId.ville }} {{ commande.userId.pays }}
    </h3>
            <div class="button-paiement" >
                <button><a href="{{ path('stripe',{'id' : commande.id}) }}">payer ma commande</a></button>
            </div>
{% endblock %}
