{% extends 'main/home.html.twig' %}

{% block title %}
    Panier | {{ parent() }}
{% endblock %}

{% block header %}{% endblock %}
{% block nav1 %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Confirmation de commande</h1>
    <p>Numéro de référence : {{ commande.reference }}</p>
    <h2>Détails de la commande :</h2>
    <ul>
        {% for detail in commande.commandeDetails %}
            <div><div>
                    - Produit  :  {{ detail.produitId.nom }}
                </div>
                <div>
                    - Quantité :   {{ detail.quantite }}
                </div>
                <div>
                    - Prix de la commande :   {{ detail.prix }}€
                </div>
            </div>
        {% endfor %}
    </ul>
    <h3> Adress de livraison connu : {{ commande.userId.adress }} {{ commande.userId.codePostal }}
            {{ commande.userId.ville }} {{ commande.userId.pays }}
    </h3>
    {% if commande.paiements %}
            <div>
                <article>
                           la commande est validé et payée
                </article>
<div>
    <button><a href="{{ path('commandes_payee', {'id': commande.id}) }}">Voir les détails de la commande</a></button>
</div>
            </div>
    {% else %}
        <div class="button-paiement" >
            <button><a href="{{ path('stripe',{'id' : commande.id}) }}">payer ma commande</a></button>
        </div>
    {% endif %}
{% endblock %}
