{% extends 'main/home.html.twig' %}

{% block title %}
    Commandes | {{ parent() }}
{% endblock %}

{% block header %}{% endblock %}
{% block nav1 %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        <div>
        <ul>

    {% for commande in commandes %}
<div class="list-commande">
        <a href="{{ path('commandes_detail',{'id': commande.id}) }}" >
            <ul>
            <li>Reference de la commande :  {{ commande.reference}}</li>
            </ul>
                {% for detail in commande.commandeDetails %}
                <p>Prix de la commande :  {{ detail.prix }}</p>
            {% endfor %}
            {% if commande.paiements != null %}
            <p>etat de la commande : payée & valider</p>
            {% else %}
                <p>etat de la commande : non valider</p>
                {% endif %}
        </a>
</div>
        {% endfor %}
        </ul>
        </div>

    </div>

{% endblock %}
