{% extends 'baseForm.html.twig' %}
{% block titleForm %}
    {{ parent() }} |Paiement Réussi
{% endblock %}

{% block bodyForm%}



    <div class="paiement-valider">
        <a href="{{ path('commandes_list') }}"><img src="{{ asset('icon/arrow left.png') }}" id="flechGaucheChat"
                                                    alt="précédent"> Mes commandes</a>
        <h1>Paiement Valider</h1>
        <div>
            votre commande sera expédiée a :
            <div>{{ commande.userId.nom }}
            </div>
            <div>
            {{ commande.userId.ville }},{{ commande.userId.codePostal }}
            </div>
            <div>{{ commande.userId.pays }}</div>
        </div>
        <div>
            commande n° : {{ commande.reference }}
        </div>
        <div>
            Details de la commande :
            {% for detail in commande.commandeDetails %}
            <div> Nom  du produit : {{ detail.produitId.nom }}</div>
                <div>Quantité : {{ detail.quantite}}</div>
                <div><img src="{{ asset('imageProduit/'~ detail.produitId.image) }}" alt="{{ detail.produitId.nom }}" style="height: 90px ; width: 90px"></div>
                <div>prix unitaire : {{ detail.produitId.prix }} €</div>
            {% endfor %}
        </div>
        <div>
            reference du paiement : {{ data.reference }}
        </div>
        <div>
            date et heure du paiement : {{ data.dateDePaiment|date('d M Y H:i:s') }}
        </div>
        <div>
            Montant du Paiement : {{ data.montant}} €
        </div>
    </div>
{% endblock %}
